.contenedor {
  float: left;
  align-items: center;
}
.banner {
  width: 1700px;
  height: 200px;
}

.contenedor1 .whitecat {
  float: left;
  padding: 6%;
  margin-left: 22%;
}
.contenedor2 .redpanda {
  float: none;
  padding-left: 10%;
}
.redpanda {
  padding-top: 6%;
}
.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .banner {
    width: 1700px;
    height: 200px;
  }
  
  .botones {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  
  .greenforest,
  .bluewater,
  .greenmont {
    border-radius:100%;
    margin: 10px 0;
  }
  
  .forest,
  .water,
  .montain {
    border-radius:100%;
    width: 70px;
  }
  .forest,
  .water,
  .montain:hover{cursor: pointer;}
  
  .greenforest {
    background-color: green;
  }
  
  .bluewater {
    background-color: blue;
  }
  
  .greenmont {
    background-color: green;
  }
